--extra-index-url https://download.pytorch.org/whl/cu116
torch==1.12.1
torchvision==0.13.1
torchaudio==0.12.1
dotmap
fastapi
uvicorn
omegaconf
transformers
sentence_transformers
faiss-cpu
einops
pytorch_lightning==1.7.7
ftfy
scikit-image
torchdiffeq
jsonmerge
